$primary: #b7ab98;
$secondary: #4d4d4d;
$tertiary: #b8ac9980;
$primary-emphasis: #eb5939;

$background: #0d0d0d;
$background-emphasis: #160d0d;
$hover: #d4ccb4;

$desktop: 1024px;
$tablet: 768px;
$mobile: 430px;
