@import "../../styles/variable.scss";

#skills {
  div {
    width: 70vw;
    margin: 6em auto;

    h2 {
      margin-bottom: 2em;
    }

    .skills__content {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;

      article {
        border: 1px solid $primary;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 8px;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -10px;
          width: 110%;
          height: 50%;
          background-color: $background;
          z-index: 10;
        }

        div {
          padding: 1.5em;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 90%;
          width: 90%;
          border: 1px solid transparent;
          background-color: $background;
          margin: 0;
          z-index: 20;
        }

        h3 {
          color: $primary;
          font-size: 2.5em;
          text-transform: uppercase;
          i {
            margin-right: 10px;
            color: $primary-emphasis;
          }
        }

        p {
          color: $primary;
          font-size: 2.2em;
          text-align: start;
          margin: auto;
        }
      }

      .article-container {
        margin: 2em 0;
      }

      .skills__overview {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0;
        margin-top: 2em;

        .active {
          transform: scale(1.5);
          background-color: $primary;
        }

        i {
          transition: transform 0.2s ease;
          background-color: $secondary;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          cursor: pointer;
        }

        span {
          color: $primary;
          transform: scale(2);
          cursor: pointer;

          &::selection {
            background-color: transparent;
            color: inherit;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $desktop) {
  #skills {
    div {
      .skills__content {
        article {
          div {
            padding: 1em;
          }

          h3 {
            font-size: 2em;
          }

          p {
            font-size: 1.8em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  #skills {
    div {
      margin: 3em auto;
      .skills__content {
        article {
          div {
            padding: 0.5em;
          }

          h3 {
            font-size: 1.8em;
          }

          p {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  #skills {
    div {
      width: 80vw;
      margin: 2em auto;

      .skills__content {
        article {
          div {
            padding: 1em;
          }

          h3 {
            font-size: 1.5em;
          }

          p {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}
