@import "../styles/variable.scss";
#about {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: $background;
  position: relative;

  div {
    margin: 16em auto;
    display: flex;
    flex-direction: column;
    width: 70vw;

    p {
      color: $primary;
      font-size: 3em;
      font-weight: bold;
    }
  }

  img {
    width: 400px;
    height: 400px;
    transform: translateX(100px) rotate(-45deg);
    filter: opacity(0.7);
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: $desktop) {
  #about {
    div {
      margin: 12em auto;
      p {
        font-size: 2.5em;
      }
    }

    img {
      width: 300px;
      height: 300px;
      transform: translateX(100px) rotate(-45deg);
    }
  }
}

@media screen and (max-width: $tablet) {
  #about {
    div {
      margin-top: 6em;
      p {
        font-size: 1.8em;
      }
    }
    img {
      width: 250px;
      height: 250px;
      transform: rotate(-45deg) translateX(100px);
      bottom: -50px;
    }
  }
}

@media screen and (max-width: $mobile) {
  #about {
    div {
      width: 80vw;
      p {
        font-size: 1.5em;
      }
    }
    img {
      width: 200px;
      height: 200px;
      transform: rotate(-45deg) translateX(100px) !important;
      bottom: -100px;
    }
  }
}
