@import "../sass/colors.scss", "../sass/mixin.scss";

#certificate {
  @include page();
  main {
    h1 {
      @include title;
    }

    section {
      article {
        margin: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        a {
          width: 100%;
          &:hover {
            button {
              color: white;
            }
          }
          display: flex;
          justify-content: space-between;
          align-items: center;

          aside {
            h2 {
              color: $primary-emphasis;
            }

            h3 {
              color: $primary;
            }

            p {
              color: $secondary;
            }
          }

          p {
            color: $primary;
          }

          button {
            border: 1px solid transparent;
            background-color: transparent;
            color: $primary-emphasis;
            border-radius: 6px;
            padding: 8px 16px;
            margin-right: 8px;
            cursor: pointer;
            transition: all 0.3s ease;
            height: 100%;
            i {
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1155px) {
  #certificate {
    main {
      h1 {
        font-size: 4em;
        margin-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #certificate {
    padding: 3% 10%;

    main {
      section {
        article {
          margin-bottom: 32px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  #certificate {
    margin: 32px 0;
    main {
      h1 {
        font-size: 3em;
        margin-bottom: 12px;
      }
    }
  }
}
