@import "../styles/variable.scss";

#projects {
  display: flex;
  flex-direction: column;

  .projects__container {
    width: 70vw;
    margin: 12em auto;
    margin-bottom: 0;

    .title-bg {
      width: 100vw;
      background-color: $primary-emphasis;
      margin: 0;
    }

    .projects__content {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      gap: 2em;

      article {
        display: flex;
        justify-content: flex-start;
        color: $primary;
        gap: 2em;
        position: relative;
        border-bottom: 2px solid $secondary;
        padding-bottom: 1em;

        &:last-of-type {
          border-bottom: none;
        }

        img {
          width: 400px;
          aspect-ratio: 16/9;
          object-fit: cover;
          border-radius: 12px;
          border: 2px solid $secondary;
        }

        div {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          h3 {
            font-size: 3em;
            color: $primary;
            line-height: 1em;
          }

          a {
            cursor: pointer;
            color: $primary;
            font-size: 1.5em;
          }

          ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            padding: 0;
            margin-top: 1em;
            li {
              list-style: none;
              background-color: $primary-emphasis;
              color: $background;
              font-weight: bold;
              padding: 0.5em 1em;
              border-radius: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $desktop) {
  #projects {
    .projects__container {
      width: 80vw;
      margin: 6em auto;

      .projects__content {
        article {
          img {
            width: 250px;
          }

          div {
            h3 {
              font-size: 2em;
            }

            a {
              font-size: 1.1em;
            }

            ul {
              li {
                padding: 0.2em 0.5em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  #projects {
    .projects__container {
      .projects__content {
        article {
          border-bottom: 1px solid $secondary;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          gap: 0.5em;

          img {
            width: 100%;
          }

          div {
            justify-content: center;
            align-items: center;
            h3 {
              font-size: 1.5em;
            }

            a {
              font-size: 1em;
            }

            ul {
              gap: 0.5em;
              margin-top: 0.5em;
              margin-bottom: 1em;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
