@import "../sass/colors.scss", "../sass/mixin.scss";

#reference {
  @include page();
  main {
    h1 {
      @include title;
    }

    section {
      article {
        margin: 16px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        border: 1px solid $primary-emphasis;
        border-radius: 12px;
        padding: 10px;

        p {
          color: $primary;
          font-size: 1em;
          padding: 0 30px;
          strong {
            margin: 0 15px;
          }
        }
        span {
          color: $primary-emphasis;
          font-weight: bold;
          font-size: 1.5em;
        }
        .quote-end {
          margin-left: auto;
        }
      }
      .emphasis {
        color: $primary-emphasis;
        margin-left: auto;
        /*border-bottom: 1px solid $primary-emphasis;*/
        width: fit-content;
        padding: 0;
        padding-bottom: 5px;
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 1155px) {
  #reference {
    main {
      h1 {
        font-size: 4em;
        margin-bottom: 12px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #reference {
    padding: 3% 10%;
  }
}

@media screen and (max-width: 420px) {
  #reference {
    margin: 32px 0;
    main {
      h1 {
        font-size: 3em;
        margin-bottom: 12px;
      }
    }
  }
}
