@import "../styles/variable.scss";

.title {
  font-size: 1em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: $primary;
}

@media screen and (max-width: $desktop) {
  .title {
    font-size: 0.8em;
    letter-spacing: 0.3em;
  }
}

@media screen and (max-width: $tablet) {
  .title {
    font-size: 0.7em;
    letter-spacing: 0.2em;
  }
}
